{% extends 'base.html.twig' %}

{% block title %}Portage de repas à domicile Poussan et dans l'Hérault | Atable{% endblock %}

{% block meta %}
    <meta name="description" content="Portage de repas à domicile Poussan, Gigean et dans tout l'Hérault. Livraison de repas pour les personnes âgées éligible aux services à la personne.">
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet"
           href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css') }}">
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script type="text/javascript">
        new WOW().init()
    </script>
{% endblock %}

{% block body %}
    <section class="section1">
        <div class="parallax-effect">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <H1 class="H1-blanc">Vos repas livrés à domicile dans
                            tout l'hérault</H1>
                        <ul class="P-blanc">
                            <li><h5 class="H4-blanc">Paiement possible par carte bleue</h5></li>
                            <li><h5 class="H4-blanc">Livraison toute la semaine</h5></li>
                            <li><h5 class="H4-blanc">100% frais, fait-maison et naturel</h5></li>
                        </ul>
                        <div class="mb-3">
                        <a class="btn button " href="{{ asset('#decouvre') }}">En savoir plus</a>
                        <a class="btn button2 text-center" target="_blank" href="../uploads/{{ lienMenu }}">Voir les menus de la semaine</a>
                        </div>
                    </div>
                    <div class="col">
                        <img class="img-taille wow animate__animated animate__slideInRight" src="{{ asset('images/logo.svg') }}" alt="Portage de repas Hérault">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section2" id="decouvre">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2 class="H2-noir">Portage de repas à domicile Poussan, Gigean et dans tout l'Hérault</h2>
                    <h3 class="H3-rouge">comment ça marche ?</h3>
                    <hr class="barre-rouge mx-auto">
                    <p>Atable se met à votre service pour assurer la livraison de vos repas à domicile, avec efficacité et rapidité ! Grâce à notre système de commande simple et intuitif, choisissez votre formule, planifiez votre livraison… et vous n’avez plus qu’à attendre votre repas, aussi sain qu’équilibré.</p>

                        <p>Nous couvrons de nombreuses localités. Que vous soyez de Bouzigues par exemple, ou de Poussan, vous pouvez compter sur nous.
                        Alors n’hésitez pas à nous contacter et… bon appétit !</p>

                <div class="row mt-5 text-center">
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <img class="mx-auto d-block" src="{{ asset('images/choisir.png') }}" width="80" alt="Choisir son repas Hérault">
                            <h4 class="H4-noir">Choisissez une formule</h4>
                            <p>Choisissez votre formule : entrée, plat, dessert… il y a en a pour tous les goûts, à des prix vraiment avantageux.</p>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <img class="mx-auto d-block" src="{{ asset('images/planifier.png') }}" width="80" alt="Plannifier sa livarison de repas à poussan">
                            <h4 class="H4-noir">Plannifier votre livraison</h4>
                            <p>Que vous souhaitiez manger maintenant ou plus tard, réservez votre repas directement en ligne.</p>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <img class="mx-auto d-block" src="{{ asset('images/livraison.png') }}" width="80" alt="Livraison de repas à domicile dans l'Hérault">
                            <h4 class="H4-noir">Nous vous livrons à domicile</h4>
                            <p>Nos repas, délicieux et complets, sont livrés directement à domicile. Choisissez et… savourez !</p>
                        </div>
                    </div>
                    <h4 class="mt-5">Une alimentation variée, équilibrée et adaptée à tous : voilà la recette de Atable.</h4>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <img class="img-taille mx-auto d-block " src="{{ asset('images/livraison-repas-à-domicile-poussan.jpg') }}"
                         alt="Livraison de repas à poussan ou dans l'Hérault">
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <H3>Des menus variés et personnalisés</H3>
                    <h4 class="H3-rouge">Livrables à Gigean, poussan et dans tout l'hérault</h4>
                    <p>Chez Atable, nous garantissons un portage de repas à domicile soigné, organisé, réputé pour son efficacité et son sérieux. Convaincus qu’une alimentation saine est essentielle pour se sentir bien au quotidien, nous proposons des menus équilibrés, adaptés à toutes et à tous.</p>
                    <p>À Pignan, à Loupian comme dans tout l’Hérault, nous facilitons votre quotidien en concoctant des repas succulents. Tout simplement.</p>
                </div>
            </div>
            <div class="row text-center mt-5">
                <H2 class="H2-noir">Les tarifs</H2>
                <hr class="barre-rouge mx-auto">
                <p>Notre entreprise privilégie une approche humaine et une prestation de proximité. Ainsi, nos prix se veulent raisonnables, sans rien enlever à la qualité et à la fraîcheur de nos repas à domicile. </p>
            </div>
            <div class="row mt-5 text-center">
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="block-responsive">
                    <h3 class="H3-rouge">Formules midi</h3>
                        <p>Entrée plat et garniture<br>Fromage<br>Déssert
                    <h4 class="H4-noir">9,00€</h4>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="block-responsive">
                    <h3 class="H3-rouge">Formules soir</h3>
                    <p>Potage ou entrée<br>Plat et garniture<br>Déssert</p>
                    <h4 class="H4-noir">8,00€</h4>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="block-responsive">
                    <h3 class="H3-rouge">Formules midi et soir</h3>
                    <h4 class="H4-noir">16,50€</h4>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5 pb-3 wow animate__animated animate__zoomIn">
                <a class="btn button text-center" href="tel:0624684768">06 24 68 47 68</a>
                <a class="btn button3 text-center" target="_blank" href="../uploads/{{ lienMenu }}">Voir les menus de la semaine</a>
                <p class="mt-3">Suppément potage: 1,00€, pain: 0,70€</p>
            </div>
        </div>
    </section>
    <section class="section4" id="repas">
        <div class="parallax-effect2">
            <div class="container">
                <div class="row text-center">
                    <div class="col mt-5">
                        <h2 class="H2-blanc">Exemples de menus sur une semaine</h2>
                        <h3 class="H3-blanc">Régimes sans sel, hypocaloriques, diabétiques, sans porc.... sur demande</h3>
                        <hr class="barre-rouge mx-auto">
                    </div>
                </div>
                <div class="row">
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Lundi</h4>
                            <ul>
                                <li>Macédoine</li>
                                <li>Boeuf Bourguignon</li>
                                <li>Coquillettes</li>
                                <li>Fromage</li>
                                <li>Fruits</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Pois chiche ou Potage</li>
                                <li>Emincé de poulet</li>
                                <li>Brocolis au jus</li>
                                <li>Laitage</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Mardi</h4>
                            <ul>
                                <li>Charcuterie</li>
                                <li>Saucisse de Toulouse</li>
                                <li>Haricots plats aux cèpes</li>
                                <li>Fromage</li>
                                <li>Laitage</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Salade composée ou Potage</li>
                                <li>Filet de poisson aux amandes</li>
                                <li>Pommes de terre persillées</li>
                                <li>Fruit</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Mercredi</h4>
                            <ul>
                                <li>Feuilleté au fromage</li>
                                <li>Gigoletle de dinde persillées</li>
                                <li>Purée aux légumes</li>
                                <li>Compote</li>
                                <li>Madeleine</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Salade de tomates ou Potage</li>
                                <li>Courgette farcie</li>
                                <li>Riz basmati</li>
                                <li>Desset lacté</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Jeudi</h4>
                            <ul>
                                <li>Céleris sauce Cocktail</li>
                                <li>Tartiflette</li>
                                <li>Fromage</li>
                                <li>Dessert lacté</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Pizza ou Potage</li>
                                <li>Steack haché</li>
                                <li>Jardinière</li>
                                <li>Fruit</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Vendredi</h4>
                            <ul>
                                <li>Radis / beurre</li>
                                <li>Gratin de poisson aux fruits de mer</li>
                                <li>Riz Salrané</li>
                                <li>Fromage</li>
                                <li>Pâtisserie</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Charcuterie ou Potage</li>
                                <li>Picoulat de boeuf</li>
                                <li>Pénée régaté</li>
                                <li>Laitage</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Samedi</h4>
                            <ul>
                                <li>Concombres & Tomates</li>
                                <li>Spaghettis Bolognaise</li>
                                <li>Fromage</li>
                                <li>Laitage</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Salade composée ou Potage</li>
                                <li>Lentilles au confit de porc</li>
                                <li>Fruit</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 pb-5 wow animate__animated animate__zoomIn">
                    <H3 class="H3-blanc">Livraison possible les mardis et Jeudis</H3>
                    <a class="btn button text-center" href="tel:0624684768">06 24 68 47 68</a>
                    <a class="btn button2 text-center" target="_blank" href="../uploads/{{ lienMenu }}">Voir les menus de la semaine</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col wow animate__animated animate__backInLeft">
                    <h3>Livraison de repas à domicile à Poussan </h3>
                    <h4 class="H3-rouge">Éligible au service à la personne</h4>
                    <p>Atable collabore étroitement avec les CCAS, les associations à Poussan comme dans le reste de l’Hérault. Nos prestations sont donc pleinement éligibles aux avantages fiscaux qui concernent l’aide à la personne. Ainsi, vous pouvez optez pour nos formules en toute sérénité.</p>
                    <p>Nous sommes notamment heureux de pouvoir assurer une livraison à domicile aux personnes âgées, et plus généralement à ceux qui ont besoin d’aide au quotidien. </p>
                </div>
                <div class="col">
                    <img class="img-taille d-block mx-auto" src="{{ asset('images/voiture.jpg') }}" alt="Service à la personne pour livraison repas à poussan">
                </div>
            </div>
            <div class="row align-items-center mt-5">
                <div class="col">
                    <img class="img-taille d-block mx-auto" src="{{ asset('images/service-personne.jpg') }}" alt="Service à la personne dans l'Hérault">
                </div>
                <div class="col wow animate__animated animate__backInRight">
                    <h3>Portage de repas à domicile</h3>
                    <h4 class="H3-rouge">Éligible au service à la personne</h4>
                    <p>Nos services concernent également le portage de repas. Nous livrons à Villeveyrac et dans de nombreuses autres localités de la région pour vous satisfaire. Il s’agit de proposer des formules adaptées à vos besoin, dans le respect de vos goûts et de vos limites alimentaires. </p>
                      <p>Notre participation au programme de déduction fiscale pour l’aide à la personne vous garantit de manger sainement au quotidien, tout en ménageant votre budget. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section6">
        <div class="container">
            <div class="row text-center">
                <H2 class="H2-blanc">Quelques chiffres</H2>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col text-center wow animate__animated animate__zoomIn">
                    <div class="block-responsive">
                        <H2 class="H2-blanc">+100</H2>
                        <h4 class="P-blanc">Livraison par jour</h4>
                    </div>
                </div>
                <div class="col text-center wow animate__animated animate__zoomIn">
                    <div class="block-responsive">
                        <H2 class="H2-blanc">100%</H2>
                        <H4 class="P-blanc">de clients satisfaits</H4>
                    </div>
                </div>
                <div class="col text-center wow animate__animated animate__zoomIn">
                    <div class="block-responsive">
                        <H2 class="H2-blanc">+50</H2>
                        <H4 class="P-blanc">nouveaux repas /mois</H4>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-realisation">
        <div class="container text-center">
            <p>Notre zone de livraison pour le portage de repas à domicile s’étend à tout le département, que vous soyez de Pignan ou de Frontignan. Les menus sont élaborés avec professionnalisme, et adaptés à vos demandes personnelles. En faisant appel à nos services, vous avez l’assurance de déguster des plats faits maison, aussi délicieux que bons pour la santé.</p>
            <div class="row mt-5">
                <div class="col">
                    <div class="block-image-zoom">
                        <img class="img-taille-client" src="{{ asset('images/Portage-repas-gigean.jpg') }}" alt="Portage de repas à domicile à Gigean">
                    </div>
                </div>
                <div class="col">
                    <div class="block-image-zoom">
                        <img class="img-taille-client" src="{{ asset('images/portage-repas-poussan.jpg') }}" alt="Portage de repas à domicile à Poussan">
                    </div>
                </div>
                <div class="col">
                    <div class="block-image-zoom">
                        <img class="img-taille-client" src="{{ asset('images/portage-repas-balaruc.jpg') }}" alt="Portage de repas à domicile à Balaruc">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section7">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="H2-noir">Ils nous font confiance</h2>
                    <hr class="barre-rouge mx-auto">
                    <p>Dans le cadre de nos prestations, nous avons l’honneur de collaborer avec une belle gamme de partenaires. Ils nous font confiance... et vous le pouvez aussi ! </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col wow animate__animated animate__zoomIn">
                    <img class="img-taille-client2 mx-auto d-block" src="{{ asset('images/sete.jpg') }}" alt="Livraison de repas à Sète">
                </div>
                <div class="col wow animate__animated animate__zoomIn ">
                    <img class="img-taille-client2 mx-auto d-block" src="{{ asset('images/pignan.jpg') }}" alt="Livraison de repas à Pignan">
                </div>
                <div class="col wow animate__animated animate__zoomIn ">
                    <img class="img-taille-client2 mx-auto d-block" src="{{ asset('images/gigean.jpg') }}" alt="Livraison de repas à Gigean">
                </div>
                <div class="col wow animate__animated animate__zoomIn ">
                    <img class="img-taille-client2 mx-auto d-block" src="{{ asset('images/clinique-du-parc.jpg') }}" alt="Livraison de repas à Montpellier">
                </div>
            </div>
        </div>
    </section>
    <section class="section8">
        <div class="container text-center">
            <div class="row">
            <H2 class="H2-noir">Nous livrons sur le bassin de Thau et dans tout l'hérault</H2>
                <hr class="barre-rouge mx-auto">
                <p>Nous tenons à aider l’ensemble des résidents de notre belle région. Quelle que soit votre localité, sachez que nos livraisons de repas à domicile couvrent tout l’hérault !</p>
                <H5 class>
                    Poussan – Gigean – Pignan – Meze – Frontignan – Pignan – Bouzigues – Marseillan – Loupian – Villeveyrac – Balaruc les bains – Balaruc le vieux – Cournonterral – Cournonsec – Lavénure – Fabrègues ...et dans tout l'hérault
                </H5>
            </div>
        </div>
    </section>
{% endblock %}
