{% extends 'base.html.twig' %}

{% block title %}Entretien de jardin à Poussan, Gigean et dans l'Hérault{% endblock %}

{% block meta %}
    <meta name="description"
          content="Entretien et aménagement espaces verts à Poussan, Gigean, Balaruc et dans tout l'Hérault. Faites appel à la société Atable dans l'hérault (34).">
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet"
           href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css') }}">
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script type="text/javascript">
        new WOW().init()
    </script>
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img class="logo-jardin" src="{{ asset('images/logo-jardin.png') }}" alt="Entretien de jardin à Poussan, Gigean et dans l'Hérault">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_menu') }}">Livraison repas à domicile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_jardin') }}">Entretien jardin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_contact') }}" tabindex="-1" aria-disabled="true">Contactez-nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn button-jardin" href="{{ path('app_contact') }}">Demandez un devis</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <section class="section1">
        <div class="parallax-effect-jardin">
            <div class="container">
                <div class="row pt-5 align-items-center">
                    <div class="col">
                        <H1 class="H1-blanc">Entretien de jardin
                            dans l'hérault</H1>
                        <ul class="P-blanc" >
                            <li><h5 class="H4-blanc">Devis sur-mesure</h5></li>
                            <li><h5 class="H4-blanc">Facilités de paiement</h5></li>
                            <li><h5 class="H4-blanc">Avantage fiscal</h5></li>
                        </ul>
                                <a class="btn button-jardin"  href="{{ asset('/entretien-jardin-herault#jardin') }}">En savoir plus</a>

                    </div>
                    <div class="col">
                        <img class="img-taille wow animate__animated animate__slideInRight"
                             src="{{ asset('images/logo-jardin.png') }}" alt="Travaux de jardinage chez particulier Balaruc ">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section2" id="jardin">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2 class="H2-noir">L'entretien de votre jardin</h2>
                    <h3 class="H3-vert">Nous intervenons à poussan, gigean et dans tout l'hérault</h3>
                    <hr class="barre-verte mx-auto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium enim ex illo iste, minus
                        molestias numquam possimus voluptas. Alias autem dicta dolorem expedita fuga laboriosam libero
                        odit quaerat sunt voluptas.</p>
                </div>
            </div>
            <div class="row text-center mt-5">
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="card">
                        <img class="mx-auto d-block" src="{{ asset('images/icon-rapide.png') }}" width="80" alt="">
                        <h4>Intervention rapide</h4>
                        <p>Nous intervenons sous 72H00</p>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="card">
                        <img class="mx-auto d-block" src="{{ asset('images/icon-satisfaction.png') }}" width="80"
                             alt="Entretien de votre jardin Poussan">
                        <h4>Satisfaction garantie</h4>
                        <p>Notre priorité, est votre entière satisfaction !</p>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="card">
                        <img class="mx-auto d-block" src="{{ asset('images/icon-tarif.png') }}" width="80" alt="Tarif de nos pretations d'entretien de jardin Hérault">
                        <h4>Tarifs avantageux </h4>
                        <p>Forfait entretien à l'année</p>
                    </div>
                </div>
            </div>
                <div class="row mt-5 align-items-center ">
                    <div class="col">
                        <img class="img-taille mx-auto d-block " src="{{ asset('images/service-personne.jpg') }}"
                             alt="Avantage fiscal service à la personne, entretien de jardin Hérault">
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <H3>Travaux de jardinage</H3>
                        <h4 class="H3-vert">Éligible aux services à la personne</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam consequatur debitis
                            deleniti
                            eligendi fugiat fugit ipsum molestias nihil nobis, obcaecati praesentium quam quibusdam
                            saepe
                            tempore temporibus veritatis voluptate! Temporibus! Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Aliquid impedit </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center">
                        <a class="btn button-jardin"  href="{{ asset('/entretien-jardin-herault#prestations') }}">Nos prestations de jardinage</a>
                        <a class="btn button-jardin2"  href="tel:0624684768">06 24 68 47 68</a>
                    </div>
                </div>
            </div>
    </section>
    <section class="section8" id="prestations">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2 class="H2-noir">Découvrez l'ensemble de nos prestations</h2>
                    <h3 class="H3-vert">Nous intervenons à poussan, gigean et dans tout l'hérault</h3>
                    <hr class="barre-verte mx-auto">
                </div>
            </div>
            <div class="row mt-5 align-items-center">
                <div class="col">
                    <div class="block-responsive">
                        <img class="img-taille-radius d-block" src="{{ asset('images/taille-jardin.jpg') }}"
                             alt="Taille de jardin à Poussan et dans l'Hérault">
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <H3 >Taillage de jardin</H3>
                    <h4 class="H3-vert">Tailles de rosiers, fruitiers et plantes</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam consequatur debitis deleniti
                        eligendi fugiat fugit ipsum molestias nihil nobis, obcaecati praesentium quam quibusdam saepe
                        tempore temporibus veritatis voluptate! Temporibus! Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Ad adipisci culpa distinctio error esse eum itaque nam necessitatibus omnis,
                        provident quam repellat saepe</p>
                </div>
            </div>
            <div class="row mt-5 align-items-center">
                <div class="col wow animate__animated animate__zoomIn">
                    <H3>Débroussaillage et désherbage</H3>
                    <h4 class="H3-vert">Le débroussaillage une obligation !</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam consequatur debitis deleniti
                        eligendi fugiat fugit ipsum molestias nihil nobis, obcaecati praesentium quam quibusdam saepe
                        tempore temporibus veritatis voluptate! Temporibus! Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Alias atque, autem commodi debitis deleniti distinctio expedita</p>
                </div>
                <div class="col">
                    <img class="img-taille-radius mx-auto d-block  " src="{{ asset('images/desherbage.jpg') }}"
                         alt="Débroussaillage et désherbage à Balaruc et dans l'Hérault">
                </div>
            </div>
            <div class="row mt-5 align-items-center">
                <div class="col">
                    <img class="img-taille-radius d-block " src="{{ asset('images/maconnerie.jpg') }}"
                         alt="Petit travaux de maçonnerie à gigean et dans l'Hérault">
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <H3 >Petits travaux de maçonnerie</H3>
                    <h4 class="H3-vert">Travaux de maçonnerie divers pour votre maison</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam consequatur debitis deleniti
                        eligendi fugiat fugit ipsum molestias nihil nobis, obcaecati praesentium quam quibusdam saepe
                        tempore temporibus veritatis voluptate! Temporibus! Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Accusantium aperiam blanditiis dolore earum est explicabo facere illo in
                        incidunt ipsam labore</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <a class="btn button-jardin"  href="{{ asset('/entretien-jardin-herault#realisations') }}">Nos réalisations</a>
                    <a class="btn button-jardin2"  href="{{ path('app_contact') }}">Demandez un devis</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-verte">
        <div class="container">
            <div class="row text-center">
                <H2 class="H2-blanc">Obligation légale de debroussaillement</H2>
                <h3 class="H3-blanc">Une obligation pour la sécurité des personnes et des biens !</h3>
                <p class="P-blanc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto
                    dolor doloremque facilis fugit, incidunt molestiae nemo nesciunt nisi perspiciatis reiciendis
                    tempore voluptatibus? Animi facilis, labore laboriosam quibusdam sequi voluptates?</p>
            </div>
        </div>
    </section>
    <section class="section5" id="realisations">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h2 class="H2-noir">Nos réalisations de jardin dans l'Hérault</h2>
                    <h3 class="H3-vert">Nous intervenons à poussan, gigean et dans tout l'hérault</h3>
                    <hr class="barre-verte mx-auto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium enim ex illo iste, minus
                        molestias numquam possimus voluptas. Alias autem dicta dolorem expedita fuga laboriosam libero
                        odit quaerat sunt voluptas.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class=cadre-demo1>
                        <div class="photos-mini">
                            <div class=miniature>
                                <input type="radio" name="demo" checked class="fen" id="lightbox-1">
                                <label for="lightbox-1">
                                    <img src="{{ asset('images/jardin-poussan.jpg') }}" alt="Entretien de jardin Hérault">
                                </label>
                                <img class="fenetre" src="{{ asset('images/jardin-poussan.jpg') }}" alt="Entretien de jardin Hérault">
                            </div>
                            <div class=miniature>
                                <input type="radio" name="demo" class="fen" id="lightbox-2">
                                <label for="lightbox-2">
                                    <img src="{{ asset('images/jardin-gigean.jpg') }}" alt="Entretien de jardin Gigean">
                                </label>
                                <img class="fenetre" src="{{ asset('images/jardin-gigean.jpg') }}" alt="Entretien de jardin Gigean">
                            </div>
                            <div class=miniature>
                                <input type="radio" name="demo" class="fen" id="lightbox-3">
                                <label for="lightbox-3">
                                    <img src="{{ asset('images/jardin-frontignan.jpg') }}" alt="Entretien de jardin Frontignan">
                                </label>
                                <img class="fenetre" src="{{ asset('images/jardin-frontignan.jpg') }}" alt="Entretien de jardin Frontignan">
                            </div>
                            <div class=miniature>
                                <input type="radio" name="demo" class="fen" id="lightbox-4">
                                <label for="lightbox-4">
                                    <img src="{{ asset('images/jardin-balaruc.jpg') }}" alt="Entretien de jardin Balaruc">
                                </label>
                                <img class="fenetre" src="{{ asset('images/jardin-balaruc.jpg') }}" alt="Entretien de jardin Balaruc">
                            </div>
                            <div class=miniature>
                                <input type="radio" name="demo" class="fen" id="lightbox-5">
                                <label for="lightbox-5">
                                    <img src="{{ asset('images/jardin-loupian.jpg') }}" alt="Entretien de jardin Loupian">
                                </label>
                                <img class="fenetre" src="{{ asset('images/jardin-loupian.jpg') }}" alt="Entretien de jardin Loupian">
                            </div>
                            <div class=miniature>
                                <input type="radio" name="demo" class="fen" id="lightbox-6">
                                <label for="lightbox-6">
                                    <img src="{{ asset('images/jardin-sete.jpg') }}" alt="Entretien de jardin Sète">
                                </label>
                                <img class="fenetre" src="{{ asset('images/jardin-sete.jpg') }}" alt="Entretien de jardin Sète">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-herbe">
    </section>
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="bg-dark text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4 ">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                   href="{{ asset('https://www.facebook.com/atable.livraisonsderepas') }}" role="button"
                ><i class="fab fa-facebook-f"></i
                    ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-instagram"></i
                    ></a>

            </section>
            <!-- Section: Social media -->


            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col">
                        <h4 class="H4-vert text-uppercase">A propos</h4>
                        <p class="P-blanc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid
                            consectetur consequuntur cupiditate debitis delectus earum esse facere facilis fugiat illo
                            libero natus nobis, obcaecati optio repudiandae similique ut? Nulla?</p>
                        <img class="logo-jardin" src="{{ asset('images/logo-jardin.png') }}" alt="">
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col">
                        <h4 class="H4-vert text-uppercase">Zones de livraison</h4>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/" class="text-white text-decoration-none">Entretien de jardin à
                                    Gigean</a>
                            </li>
                            <li>
                                <a href="/" class="text-white text-decoration-none">Entretien de jardin à
                                    Pignan</a>
                            </li>
                            <li>
                                <a href="/" class="text-white text-decoration-none">Entretien de jardin à
                                    Poussan</a>
                            </li>
                            <li>
                                <a href="/" class="text-white text-decoration-none">Entretien de jardin à
                                    Montpellier</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col">
                        <h4 class="H4-vert text-uppercase">Nos partenaires</h4>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="{{ asset('https://neoprod34.fr/') }}" target="_blank"
                                   class="text-white text-decoration-none">Neo prod 34</a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="text-white text-decoration-none">Réveil Sportif
                                    Gigeannais</a>

                            </li>
                            <li>
                                <a href="#" target="_blank" class="text-white text-decoration-none">boule poussannaise
                                    petanque</a>

                            </li>
                            <li>
                                <a href="{{ asset('https://crabe-roulant-marseillanais.jimdofree.com/') }}"
                                   target="_blank" class="text-white text-decoration-none">Crabe roulant Marseillan</a>

                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright: A table | Conception :
            <a class="text-white" target="_blank" href="https://www.logo-concept.fr">Logo Concept</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
{% endblock %}
