{% extends 'base.html.twig' %}

{% block title %}Livraison de repas à domicile dans l'Hérault | Atable Poussan{% endblock %}

{% block meta %}
    <meta name="description" content="Livraison de repas à domicile à Poussan, Gigean et dans l'Hérault. Service de portage de repas pour les personnes âgées dans l'hérault (34).">
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet"
           href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css') }}">
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script type="text/javascript">
        new WOW().init()
    </script>
{% endblock %}

{% block body %}
    <section class="section1">
        <div class="parallax-effect3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <H1 class="H1-blanc">Livraison repas à domicile</H1>
                        <p class="P-blanc">Repas élaboré par des nutritionnistes, des cuisiniers
                            passionnés par le mariage du goût,
                            des saveurs et le respect des modes de cuisines traditionnelles.</p>
                        <div class="mb-3">
                            <a class="btn button " href="{{ asset('/livraison-de-repas-gigean#tarifs') }}">Les tarifs</a>
                            <a class="btn button2 text-center" target="_blank" href="../uploads/{{ lienMenu }}">Voir les menus de la semaine</a>
                        </div>
                    </div>
                    <div class="col">
                        <img class="img-taille wow animate__animated animate__slideInRight" src="{{ asset('images/logo.svg') }}" alt="Livraison de repas à domicile à Poussan, Gigean et dans l'Hérault">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section2" id="tarifs">
        <div class="container">
            <div class="row text-center mt-5">
                <H2 class="H2-noir">Livraison de repas à domicile à Poussan, Gigean et dans l'Hérault</H2>
                <hr class="barre-rouge mx-auto">
                <p>Nous livrons nos repas à Gigean comme dans tout l’Hérault. Chaque jour, ce sont des menus sains et équilibrés qui vous sont proposés, directement à domicile.</p>
            </div>
            <div class="row mt-5 text-center">
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="block-responsive">
                        <h3 class="H3-rouge">Formules midi</h3>
                        <p>Entrée plat et garniture<br>Fromage<br>Déssert
                        <h4 class="H4-noir">9,00€</h4>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="block-responsive">
                        <h3 class="H3-rouge">Formules soir</h3>
                        <p>Potage ou entrée<br>Plat et garniture<br>Déssert</p>
                        <h4 class="H4-noir">8,00€</h4>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="block-responsive">
                        <h3 class="H3-rouge">Formules midi et soir</h3>
                        <h4 class="H4-noir">16,50€</h4>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5 pb-3 wow animate__animated animate__zoomIn">
                <a class="btn button text-center" href="tel:0624684768">06 24 68 47 68</a>
                <a class="btn button3 text-center" target="_blank" href="../uploads/{{ lienMenu }}">Voir les menus de la semaine</a>
                <p class="mt-3">Suppément potage: 1,00€, pain: 0,70€</p>
            </div>
        </div>
    </section>
    <section class="section3" id="repas">
        <div class="parallax-effect2">
            <div class="container">
                <div class="row text-center">
                    <div class="col mt-5">
                        <h2 class="H2-blanc">Exemples de menus sur une semaine</h2>
                        <h3 class="H3-blanc">Régimes sans sel, hypocaloriques, diabétiques, sans porc.... sur demande</h3>
                        <hr class="barre-rouge mx-auto">
                    </div>
                </div>
                <div class="row">
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Lundi</h4>
                            <ul>
                                <li>Macédoine</li>
                                <li>Boeuf Bourguignon</li>
                                <li>Coquillettes</li>
                                <li>Fromage</li>
                                <li>Fruits</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Pois chiche ou Potage</li>
                                <li>Emincé de poulet</li>
                                <li>Brocolis au jus</li>
                                <li>Laitage</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Mardi</h4>
                            <ul>
                                <li>Charcuterie</li>
                                <li>Saucisse de Toulouse</li>
                                <li>Haricots plats aux cèpes</li>
                                <li>Fromage</li>
                                <li>Laitage</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Salade composée ou Potage</li>
                                <li>Filet de poisson aux amandes</li>
                                <li>Pommes de terre persillées</li>
                                <li>Fruit</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Mercredi</h4>
                            <ul>
                                <li>Feuilleté au fromage</li>
                                <li>Gigoletle de dinde persillées</li>
                                <li>Purée aux légumes</li>
                                <li>Compote</li>
                                <li>Madeleine</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Salade de tomates ou Potage</li>
                                <li>Courgette farcie</li>
                                <li>Riz basmati</li>
                                <li>Desset lacté</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Jeudi</h4>
                            <ul>
                                <li>Céleris sauce Cocktail</li>
                                <li>Tartiflette</li>
                                <li>Fromage</li>
                                <li>Dessert lacté</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Pizza ou Potage</li>
                                <li>Steack haché</li>
                                <li>Jardinière</li>
                                <li>Fruit</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Vendredi</h4>
                            <ul>
                                <li>Radis / beurre</li>
                                <li>Gratin de poisson aux fruits de mer</li>
                                <li>Riz Salrané</li>
                                <li>Fromage</li>
                                <li>Pâtisserie</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Charcuterie ou Potage</li>
                                <li>Picoulat de boeuf</li>
                                <li>pénée régaté</li>
                                <li>Laitage</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card">
                            <h4 class="H4-rouge">Samedi</h4>
                            <ul>
                                <li>Concombres & Tomates</li>
                                <li>Spaghettis Bolognaise</li>
                                <li>Fromage</li>
                                <li>Laitage</li>
                            </ul>
                            <hr>
                            <ul>
                                <li>Salade composée ou Potage</li>
                                <li>Lentilles au confit de porc</li>
                                <li>Fruit</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 pb-5 wow animate__animated animate__zoomIn">
                    <H3 class="H3-blanc">Livraison possible les mardis et Jeudis</H3>
                    <a class="btn button text-center" href="tel:0624684768">06 24 68 47 68</a>
                    <a class="btn button2 text-center" target="_blank" href="../uploads/{{ lienMenu }}">Voir les menus de la semaine</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="container text-center">
            <p>Notre zone de livraison pour le portage de repas à domicile s’étend à tout le département, que vous soyez de Pignan ou de Frontignan. Les menus sont élaborés avec professionnalisme, et adaptés à vos demandes personnelles. En faisant appel à nos services, vous avez l’assurance de déguster des plats faits maison, aussi délicieux que bons pour la santé.</p>
            <div class="row mt-5">
            <div class="col">
                <div class="block-image-zoom">
                    <img class="img-taille-client" src="{{ asset('images/livraison-repas-gigean.jpg') }}" alt="Livraison de repas à domicile à Gigean">
                </div>
            </div>
            <div class="col">
                <div class="block-image-zoom">
                    <img class="img-taille-client" src="{{ asset('images/livraison-repas-poussan.jpg') }}" alt="Livraison de repas à domicile à Poussan">
                </div>
            </div>
            <div class="col">
                <div class="block-image-zoom">
                    <img class="img-taille-client" src="{{ asset('images/livraison-repas-balaruc.jpg') }}" alt="Livraison de repas à domicile à Balaruc">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="section7">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="H2-noir">Ils nous font confiance</h2>
                    <hr class="barre-rouge mx-auto">
                    <p>Nos partenaires nous font confiance. Notre éligibilité au service à la personne rend notre service aussi humain que complet : la livraison de repas à domicile doit être une possibilité pour toutes et pour tous ! </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col wow animate__animated animate__zoomIn">
                    <img class="img-taille-client2 mx-auto d-block" src="{{ asset('images/sete.jpg') }}" alt="Livraison de repas à domicile à Sète">
                </div>
                <div class="col wow animate__animated animate__zoomIn ">
                    <img class="img-taille-client2 mx-auto d-block" src="{{ asset('images/pignan.jpg') }}" alt="Livraison de repas à domicile à Pignan">
                </div>
                <div class="col wow animate__animated animate__zoomIn ">
                    <img class="img-taille-client2 mx-auto d-block" src="{{ asset('images/gigean.jpg') }}" alt="Livraison de repas à domicile à Gigean">
                </div>
                <div class="col wow animate__animated animate__zoomIn ">
                    <img class="img-taille-client2 mx-auto d-block" src="{{ asset('images/clinique-du-parc.jpg') }}" alt="Livraison de repas à domicile à Montpellier">
                </div>
            </div>
        </div>
    </section>
    <section class="section8">
        <div class="container text-center">
            <div class="row">
                <H2 class="H2-noir">Nous livrons sur le bassin de Thau et dans tout l'hérault</H2>
                <hr class="barre-rouge mx-auto">
                <H5 class>
                    Poussan – Gigean – Pignan – Meze – Frontignan – Pignan – Bouzigues – Marseillan – Loupian – Villeveyrac – Balaruc les bains – Balaruc le vieux – Cournonterral – Cournonsec – Lavénure – Fabrègues... et dans tout l'hérault
                </H5>
            </div>
        </div>
    </section>
{% endblock %}
